body {
    background-color: gray;
}

h1 {
    color: navy;
    margin-left: 20px;
}

p {
	color: navy;
}


a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:pink; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}
